.navbar {
  background: khaki;
  width: 100%;
  height: 60px; }

.sidebar {
  background: deepskyblue;
  height: 100vh;
  width: 5%;
  float: left; }

.chat-section {
  float: right;
  background: tomato;
  width: 95%;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box; }

.chatbox {
  background: slategray;
  width: 25%;
  height: 45%;
  box-sizing: border-box;
  padding: 10px; }

.message-list {
  background: white;
  width: 100%;
  height: 80%; }

.chatbar {
  background: khaki;
  width: 100%;
  height: 17%;
  margin-top: 10px; }
